@import "../../assets/stylesheets/common";

.container {
    border: thin solid lighten($color-main, 40);
    border-radius: 0.2em;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em lighten($color-main, 40);
    width: 70%;
    color: $color-main;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.row__label {
    flex-basis: 20%;
}

.row__data {
    flex-basis: 80%;
}

.container__map {
    border: thin solid lighten($color-main, 20);
    padding: 1px;
    height: 20em;
}

.padder{
    margin: 1em 0;
}